<h1>New Game</h1>
<div class="letters">
  <% @letters.each do |letter| %>
    <div class ="letter"  ><%= letter %></div>
  <% end %>
</div>
<p> What is the longest word you can find ?</p>
<form action="score" method="post">
  <input type="text" name= "score">
  <input type="submit" value= "Play">
  <input id="token" name="word" type="hidden" value= <%= @letters.join %> >
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

